@import '../../common/css/sunmar/sunmar-fluid-mixins';

section.cards-grid > article .contenu {
	.cards-grid-wrapper {
		display: flex;
		flex-direction: column;
		@include property(gap, 32px);

		.card:nth-child(1) {
			@media (max-width: 768px) {
				flex-direction: column-reverse;
			}
		}

		.card {
			display: flex;
			@include property(gap, 32px);

			@media (max-width: 768px) {
				flex-direction: column;
			}

			> * {
				flex: 1;
			}

			.visual img {
				border-radius: 12px;
			}

			.text {
				display: flex;
				flex-direction: column;
				@include property(gap, 20px);
				justify-content: center;
			}
		}
	}
}
