@import "../../common/css/sunmar/sunmar-fluid-mixins";

section.info-block {
	@media (max-width: 768px) {
		padding: 0 1rem;
	}
}

section.info-block > article .contenu {
	.tab-panes .tab-pane {
		display: none;
	}
	.tab-panes .active {
		display: block;
	}
}
